<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.redrock">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="redrock"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RedRockActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RedRpckActivity2"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".LoginSuccess"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>
